.main {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  height: 300px;
  background-color: gray;
  color: white !important;
}

.main > * {
  color: white !important;
  font-weight: 900;
}
